@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Padauk:wght@400;700&display=swap');

body {
  font-family: 'Padauk', sans-serif;
  line-height: 1;
}

#bodyPadding {
  padding-left: 3%;
  padding-right: 3%;
}
#home {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 60px;
  border: 1px solid #0575D8;

}

#contactRow2{
  padding-top: 2%;
  padding-bottom: 3%;
}

h1 {
  font-size: 2.2em;
}

#projectHeader {
  font-size: 4.2em;
  text-align: left;
  font-weight: 550;
}

#aboutMe {
  padding-left: 6%;
  padding-right: 6%;
  font-size: 2em;
  background-color: black;
  border: 3px solid #7CDB99;
  text-align: left;
}

#contact{
  padding-top: 2%;
  padding-left: 6%;
  padding-right: 6%;
  font-size: 2em;
  background-color: black;
  border: 3px solid #EBA954;
  text-align: left;
  padding-bottom: 0%;

}
#contactRow {
  padding-bottom: 0% !important;

}

#projects {
  padding-top: 3%;
  padding-left: 6%;
  padding-right: 6%;
  border: 1px solid #EF8182;
}

.projectImg {
  width: 70%;
  border-radius: 7% !important;
}

img:hover {
  opacity:0.5 !important;
}

#TopHeaderBar {
  background-color: black;
}

@media (max-width: 991.99px) {
  .left {
    float: center;
    justify-content: center;
    padding-left: 3%;
  }

  .right {
    float: center;
    justify-content: center;
    padding-left: 3%;
  }
  .productCardRight {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 15%;
    padding-right:15%;
  }
  .productCardLeft {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 15%;
    padding-right:15%;
  }
  .card {
    border-radius: 10px;
  }
}
@media (min-width: 992px){
  .left {
    float: left;
    justify-content: left;
    padding-left: 3%;
  }

  .right {
    float: right;
    justify-content: right;
    padding-left: 3%;
  }
  .productCardRight {
    width: 55%;
  }
  .productCardLeft {
    padding-left: 45%;
  }
  .card {
    border-radius: 7%;
  }
}

.row {
  padding-top: 3%;
}
.card-text {
  font-size: 1.2em;
  text-align: left;
}

#firstCard {
  border-color: #0575D8;
}

#secondCard {
  border-color: #7CDB99;

}

#thirdCard {
  border-color: #EF8182;

}

#fourthCard {
  border-color: #EBA954;

}

#link1, #link2, #link3, #link4 {
  color:#ffffff
}

#link1:hover {
  color: #0575D8;
}
#link2:hover {
  color: #7CDB99;
}
#link3:hover {
  color: #EF8182;
}
#link4:hover {
  color: #EBA954;
}

.contactPNG {
  width: 2em;
  length: 2em;
  justify-content: center;
  float: center;
}

.contactCols{
  justify-content: center;
  text-align: center;
}
